*{
    padding: 0;margin: 0;
    list-style-type: none;
    font-size: 0.32rem;
}
.imgclass {
    width: 100%;
    height: 100%;
}
.select {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 111;
    top: 0;
    left: 0;
    background: #fff;
}
.allImg {
    width: 100%;
    margin-top: 40px;
    ul {
        width: 100%;
        li {
            width: 110px;
            height: 110px;
            display: inline-block;
            margin: 0 0.5%;
            padding: 0 1.5%;
            background-size: cover;
            position: relative;
        }
    }
}
.mark {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding:0 1%;
    background: rgba(12, 52, 103, 0.6);
    color: #fff;
    text-align: center;
    line-height: 1rem;
}