*{
    padding: 0;margin: 0;
    list-style-type: none;
    font-size: 0.32rem;
}
.moreimg{
    height: 100%;
    width:100%;
    overflow-y: scroll;
    .Img {
        width: 100%;
        p {
            width: 110px;
            height: 110px;
            display: inline-block;
            margin: 0 0.5%;
            padding: 0 1.5%;
            background-size: cover;
            position: relative;
        }
    }
}
.loader {
    text-align: center;
    padding: 5% 0;
}
.swipperBox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
}
.swipper {
    background: #fff;
}